{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const carSelectEl = document.getElementById('scheduled_maintenance_job_car');

            carSelectEl.addEventListener('change', function(e) {
                const formEl = carSelectEl.closest('form');

                fetch(formEl.action, {
                    method: formEl.method,
                    body: new FormData(formEl)
                })
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const newMaintenanceJobFormFieldEl = doc.getElementById('scheduled_maintenance_job_maintenanceJob');

                    newMaintenanceJobFormFieldEl.addEventListener('change', function(e) {
                        e.target.classList.remove('is-invalid');
                    });

                    document.getElementById('scheduled_maintenance_job_maintenanceJob').replaceWith(newMaintenanceJobFormFieldEl);
                })
                .catch(function (err) {
                    console.warn('Something went wrong.', err);
                });
            });
        });
    </script>
{% endblock %}
