{% extends 'base.html.twig' %}

{% block title %}Hello Welcome {{random_number}}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello there lucky number {{ random_number }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/HelloController.php</code></li>
        <li>Your template at <code>/app/templates/hello/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
